body {
  background: linear-gradient(to right, #e4d1b9, #b09b71);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.my-photo p {
  text-align: center;
  padding: 3px;
  color: #483838;
  font-size: 21px;
}

.my-photo a {
  text-align: center;
  color: #483838;
  text-decoration: none;
}

img {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 99em;
  box-shadow: 0px 0px 10px 5px;
  color: #483838;
}

.my-instagram h2 {
  text-align: left;
  border-radius: 20px;
  font-size: 20px;
  padding: 30px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 20px;
  box-shadow: 0px 0px 10px 3px;
  background: lightgoldenrodyellow;
}

.my-instagram a {
  text-decoration: none;
  color: #483838;
}

.my-github h2 {
  font-size: 20px;
  border-radius: 20px;
  text-align: left;
  padding: 30px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 20px;
  box-shadow: 0px 0px 10px 3px;
  background: rgb(231, 231, 225);
}

.my-github a {
  text-decoration: none;
  color: #483838;
}

.my-spotify h2 {
  font-size: 20px;
  border-radius: 20px;
  text-align: left;
  padding: 30px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 20px;
  box-shadow: 0px 0px 10px 3px;
  background: lightgoldenrodyellow;
}

.my-spotify a {
  text-decoration: none;
  color: #483838;
}

.title {
  text-align: center;
}

td,
th {
  border: 2px solid brown;
  text-align: center;
  padding: 10px;
}

td:hover {
  background-color: brown;
}

th:hover {
  background-color: brown;
}

.kepala-tabel {
  background-color: rgb(235, 231, 226);
}

.tabel {
  border-collapse: collapse;
  width: 100%;
}

.tombol-bestie {
  background-color: lightgoldenrodyellow;
  color: #483838;
  border-radius: 20px;
  padding: 15px 5px;
  width: 120px;
  box-shadow: 0px 0px 10px 3px;
  margin-right: auto;
  margin-left: auto;
}

.tombol-bestie a {
  padding: 15px 25px;
}

.tombol-bestie-css {
  background-color: lightgoldenrodyellow;
  color: #483838;
  border-radius: 20px;
  padding: 15px 5px;
  width: 120px;
  box-shadow: 0px 0px 10px 3px;
  margin-right: 450px;
  margin-top: -48px;
  margin-left: auto;
}

.tombol-bestie-css a {
  padding: 15px 25px;
}

.tombol-bestie-jquery {
  background-color: lightgoldenrodyellow;
  color: #483838;
  border-radius: 20px;
  padding: 15px 5px;
  width: 145px;
  box-shadow: 0px 0px 10px 3px;
  margin-right: 450px;
  margin-top: -48px;
  margin-left: 429px;
}

.tombol-bestie-jquery a {
  padding: 15px 25px;
}

.tombol-back-bestie {
  margin-top: 40px;
}

.tombol-back-bestie a {
  background-color:;
  font-size: 20px;
  color: black;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 20px;
}

.tombol-back-bestie a:hover {
  background-color: burlywood;
}

.tombol-back-bestie-css {
  margin-top: 40px;
}

.tombol-back-bestie-css a {
  background-color: brown;
  font-size: 20px;
  color: black;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 20px;
}

.tombol-back-bestie-css a:hover {
  background-color: burlywood;
}

.ngubah {
  background-color: #e4d1b9;
}

.ngubah:hover {
  background-color: brown;
}

.ngapus {
  background-color: #e4d1b9;
}

.ngapus:hover {
  background-color: brown;
}
